/*CONTACTO*/
.contactoMain {
  background-image: url("../../img/travelHero1.jpg");
  background-size: cover;
  margin-top: 15vh;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactoMain h2{
  width: 100%;
  text-align: center;
  background-color: #003366;
  color: #ffffff;
}
/* Nosotros section*/
.nosotrosSection h2 {
  margin-top: 10px;
  font-size: 2.5em;
  color: #003366;
  text-align:center;
}

.nosotrosSection{
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.nosotrosSection .content {
  display: none;
  padding: 10px;
  text-align: center;
}

.nosotrosSection .content.active {
  display: flex;
}
.arrow-downImg{
 align-items: center;
}


/* Form Section */
.formSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.formSection h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formSection h2 {
  font-size: 2.5em;
  color: #FF5733;
  align-items: center;
}

.formContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background:#003366a9;
  width: 40%;
  padding: auto;

  border: 1px solid #ddd;
  border-radius: 1rem;

}

.formContact p,input{
      margin: auto;
      padding: 1rem;
      color: rgb(255, 255, 255);
      width: 100%;
        max-width: 400px;

}

input{
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all 0.3s ease;
}

input:focus{
  border-color: #007BFF;
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.3);
}


.texto_mensaje {
  width: 100%;
  height:100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  max-width: 400px;
 
}

.botonEnviar {
  align-self: center;
  background-color: #003366;
  border-radius: 12px;
  box-shadow: 0.5px 0.5px 0.5px rgb(206, 206, 206);
  transition: box-shadow 1s;
  padding: 1rem;
  margin-top: 1rem;
  color: #b9b9b9;
  font-weight: 500;
  transition: 0.5s;
  width: fit-content;
}

.botonEnviar:hover {
  background-color: #0c0cff;
  color: #ffffff;

}

.botonEnviar:active {
  position: relative;
  top: 1px;
}

.aviso{
  color: #ffffff;
}
