/*CONTACTO*/

.contactoMain {
  padding-top: 80px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contect-hero{
  background-image: url("../../img/bg/bg-violet.jpg");
  background-size: cover;
  height: 150px;
  width: 100%;
  padding: 20px 0;

}
.contect-hero h1{
  font-size: 32px;
  width: 100%;
  text-align: start;
  color: var(--color-white);
  padding-top: 20px;
  
}
.contect-hero p{
  font-size: 20px;
  color: var(--color-white);

}
/* Form Section */
.sec-form{
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  padding: 50px;
  max-height: 600px;
}

.formSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.formSection h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formSection h2 {
  font-size: 2.5em;
  color: var(--color-primary);
  align-items: center;
}
.img-form{
  width: 100%;
  clip-path: circle(58% at 70% 50%);
}
.formContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://images.almundo.com/205/image/fetch/fl_progressive,q_auto,c_fill,g_auto/https://almundo-com-res.cloudinary.com/image/upload/v1737550652/HOME-GENERAL.png');
  background-size: cover;
  background-color:var(--color-secondary);
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 1rem;
}
fieldset{
  border: none;
  padding:15px 0 5px;
}
.formContact fieldset{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}
fieldset legend{
  font-size: 26px;
  color: var(--color-white);
  padding: 15px ;
  background-color: var(--color-secondary);
  border-radius: 1rem;

}
.formLabel,.formInput{
      margin: auto;
      padding: 1rem;
      color:  var(--color-black);
      width: 100%;
      max-width: 400px;
      height:2.5rem;
}

fieldset .formInput{
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all 0.3s ease;
}

fieldset .formInput:focus{
  border-color: var(--color-secondary-hover);
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.3);
}
.texto_mensaje {
  width: 100%;
  height:6rem;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  max-width: 400px;
}

.aviso{
  color:  var(--color-white);;
  padding: 10px ;
  background-color: var(--color-secondary);
}
#enviar{
  margin:1rem auto;
  background-color: var(--color-white);
  color: var(--color-secondary);
  cursor:pointer;
}
#enviar:hover{
  background-color: var(--color-white-hover);
  color: var(--color-secondary-hover);

}

@media(max-width:992px){
    .sec-form{
      width: 100%;
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns:1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 10px;
      padding: 50px;
    }

    .img-form{
      display: none;
    }
    .formContact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* background-image: url('https://media.staticontent.com/media/pictures/382b8492-8cfe-4400-89c4-c4656a0b8764');
      background-size: cover;
      background-position: left top; */
      margin: auto;
      max-width: 800px;   
      position: relative;
      background: none; 
      border: none;
    }
    
    .formContact::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("https://media.staticontent.com/media/pictures/382b8492-8cfe-4400-89c4-c4656a0b8764") center/cover no-repeat;
      filter: blur(3px) brightness(1.1);
      border-radius: 3rem;
      border: none;
      z-index: -1;
    }
    .formContact fieldset{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap:1rem;
      margin-left: 1.5rem;
    }
    fieldset legend {
      font-size: 22px;
      color: var(--color-secondary);
      background-color: transparent;
      backdrop-filter: blur(5px);
      padding:15px 0 0 15px;
    }
    .aviso {
      background-color: transparent;
      color: var(--color-secondary);
      font-weight: 700;
      margin-left:1.5rem;
      backdrop-filter: blur(5px);
      padding: 10px 0 0;
      border-radius: 50px;
    }


      .formLabel,.formInput{
        max-width: 320px;
        margin: 0%;
    }
    .texto_mensaje {
      max-width: 320px;
    }
}

@media(max-width:480px){
    .contect-hero {
      height: auto;
    }
    .formContact {
      align-items: center;
    }
    .formContact fieldset{
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-left: 0;
    }
      fieldset legend, .aviso , .formLabel,.formInput,
    .texto_mensaje {
      width: 280px;
    }
    fieldset legend {
      padding: 10px ;
      margin: auto;
    }
    #enviar {
      background-color: var(--color-secondary);
      color: var(--color-white);
    }
}

.cardWpp{
  text-align: center;
  background-color:  var(--color-white);
  border: solid 1px #d6d6d6;
  border-radius: 10px;
  padding: 15px;
  display: flex  ;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin: 30px auto;
}
.cardWpp h3{
  height: 80px;
}

.cardWpp  img{
width: 60px;
height: auto;

}
.cardWpp div{
  max-width: 600px;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
padding: 10px;
}
@media(max-width:768px){
    .cardWpp{
        margin:30px;
    }
  }

