/*serch form*/
.heroBanner2{
    background-image: url('https://images.almundo.com/205/image/fetch/fl_progressive,w_1440,h_344,q_auto,c_fill,g_auto,f_jpg/https://almundo-com-res.cloudinary.com/image/upload/v1701109625/banner-home_dae90r.png');
    background-repeat: no-repeat;
    background-position:  100% 60% ;
    background-size: cover;
    height: 85vh;
    width: auto;
    clip-path: ellipse(100% 100% at center top);
}
.heroBanner2 h2{
    color: var(--color-white);
    max-width: 1200px;
    margin: auto;
}
.sectionCardsTrip-title{
    background-image: url('https://images.almundo.com/205/image/fetch/fl_progressive,q_auto,c_fill,g_auto/https://almundo-com-res.cloudinary.com/image/upload/v1737550652/HOME-GENERAL.png');
background-color: var(--text-color-primary);
border-radius: 0 0 30px 30px;
background-size: cover;
}
.sectionCardsTrip-title h2{
    color: var(--color-white);
    padding: 1rem;
    text-shadow: 5px 3px 4px #424242b4 ;
    text-align: center;
    font-size:35px;

}

/*Botones de Filtro*/
.section-btn{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 3rem;
padding-top: 40px;
height: 300px;
}
.btn-filtro{
width: 250px;
height: 100%;
border: none;
cursor: pointer;
background-color: transparent;
/* height: 200px;
border-radius: 35px;
font-size:40px;
font-family: "Rubik", sans-serif;
font-weight: 800;
text-transform: uppercase;
overflow: hidden; */
}
.btn-filtro img{
    width: 100%;
    filter: grayscale(30%);
    transition: filter 0.3s ease-in-out;
}
.btn-filtro img:hover{
    filter: grayscale(0%)
}

@media(max-width:768px){
    .section-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding-top: 10px;
        padding-bottom: 30px;
        height: fit-content;
        }
    .btn-filtro{
        max-width: 300px;
        height: 40px;
        background-color: var(--text-color-secondary);
        color:var(--color-white);
        font-family:"Rubik", sans-serif;
        font-weight: 700;
        border-radius: 10px;
        box-shadow: 0.5px 0.5px 0.5px rgb(104, 104, 104);
    }

    .btn-filtro img{
        display:none;
    }
    #btnTodo::before{
        content: 'Paquetes almundi ✈️';
    }
    #btnAmerica::before{
        content: 'Descubrí América 🌎';

    }
    #btnEuropa::before{
        content: 'Explorá Europa 🌍';

    }
    #btnMundo::before{
        content: 'Aventurá por el mundo 🌏';
    }
}
.formCompra{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 350px;
}
/*section cards*/
.sectionCards{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    box-sizing: content-box;
}
.containerCardTrip{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.cards{
    text-align: center;
    background-color: #ffffff;
    border: solid 1px #d6d6d6;
    border-radius: 10px;
    max-width: 20%;
    height: auto;
    padding: 15px;

}
.cards h3{
    padding-bottom: 10px;
}

.cards p {
    line-height: 1.43;
    letter-spacing: -0.1px;
    color: #888;
    font-size: 14px;
}

/*Promo cards Viajes*/
.sectionCardsTrip, .sectionCardsTrip-title{
    text-align: start;
    margin-top:50px;
}
.cardsTrip{
    display: flex;
    flex-direction: column;
    height:400px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 1px rgb(206, 206, 206);
    transition:  box-shadow 0.5s ;
    margin:2%;
}
.cardsTrip:hover{
    box-shadow: 0px 0px 8px 6px rgb(206, 206, 206);
}

.subSectionCardTrip{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
}
.imgCardTrip{
    width:100%;
    background-size: cover;
    border-radius: 12px 12px 0 0;
}
.contImgCard{
    position: relative;
}
.cardPais{
    background-color: orangered;
    position: absolute;
    top: 0%;
    right: 0%;
    color:white;
    font-weight: 600;
    padding: 5px;
    border-radius: 0 8px 0 8px;
}


.linkCardTrip{
    height: 100%;
    width: 100%;
    padding:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:start ;
}
.linkCardTrip div:first-child{
    border-bottom:1px solid  rgb(206, 206, 206);
    padding-bottom:15px;
}

.linkCardTrip h3{
    font-size: 24px;
}
.linkCardTrip h4{
    color:#545962;
    font-weight: 500;
}
.linkCardTrip h2{
    color: orangered;

}
/*LETRAS CHICAS LEGALES*/
.letra-chica{
    max-width:1000px;
}
.letra-chica h6{
    font-size: 16px;
    font-weight: 600;
}
.letra-chica p{
    font-size: 14px;
}