.mainTravel{
    margin-top: 24vh;
}
.contTravel{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #ffffff;
    border-radius: 30px 30px 0 0;
}
.travelInfo{
    grid-column: 1/3;
    width: 100%;
}
.travelInfo img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 30px 0 0 0;
}

.contTravelText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;

}
.contTravelText h2{
    color: rgb(77, 77, 230);
    font-size: 18px;
    width: fit-content;
    border-bottom: 4px rgb(77, 77, 230) solid;
    padding: 16px;
}
.contTravelText h4{
    font-weight: 400;
    color: #545962;
}
.contTravelText li{
    font-size: 18px;
    font-weight: 600;
    color: #424446;
}
.contTravelText h3{
    font-size: 24px;
    color: #292a2b;
}   
.travelPay{
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    gap:2rem;
    margin: 16%;
    color: #545962;
}

.travelPay h2{
    font-size: 32px;
}
.travelPay h3{
    font-size: 18px;
    font-weight: 600;
}
.travelPay span{
    font-size: 24px;
}
.botonContacto{
    align-self: center;
    background-color: #003366;
    border-radius: 12px;
    box-shadow: 0.5px 0.5px 0.5px rgb(206, 206, 206);
    transition:  box-shadow 1s ;
    padding: 1rem;
    color: #ffffff;
    font-weight: 500;
}
.travelPay a:hover{
    box-shadow: 3px 3px 4px rgb(206, 206, 206);
}
.mapaPais{
    width: 100%;
    object-fit: cover;
}