.usHero{
  height: 85vh;
  width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    clip-path: ellipse(100% 100% at center top);

}


.usHeroImg{
    height: auto;      
    width: 100%;       
    position: absolute; 
    top: 40%;                 
    transform: translate(-50%,-50%); 
    object-fit: contain; 
  }
  .usHeroTittleDiv{
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    color: var(--text-color-primary);
    text-shadow: 1px 1px 3px black;
    z-index: 4;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.bg-somosLideres{

}

.attention {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0px 9px 19px 6px #00000042;
}
.cardsUs{
  text-align: center;
  background-color: #ffffff;
  border: solid 1px #d6d6d6;
  border-radius: 10px;
  padding: 15px;

}
.cardsUs h3{
  height: 80px;
}
@media (max-width: 1200px){
  .cardsUs h3{
      height: 40px;
      padding-bottom: 25px;

  } 
}
.cardsUs h2 {
    color:#f74008;
    padding-bottom: 15px;
}

.cardsUs p {
    color: #555;
}

/*SECTION CARDS DE CONSULTAS*/
.space-section h3{
  text-align: center;
  font-size: 32px;
  padding-bottom: var(--space-items);
}
.helepContainer{
    width: 100%;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

.helpItem{
        padding: 20px;
        margin: 1%;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;  
        cursor: pointer;
      }

.helpItemSubCont{
  width: 100%;
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: space-between;
}
.helpItemSubCont div{
  display: flex;
  flex-direction: row;  
  align-items: center;

}
.arrowRight{
font-size: 30px;
filter: invert(26%) sepia(99%) saturate(1693%) hue-rotate(356deg) brightness(105%) contrast(99%);
}
.rotated {
  transform: rotate(90deg);
}
.desplegable {
  max-height: 0; 
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

.desplegable.active {
  min-height: fit-content; 
  opacity: 1;
  padding-bottom: 25px;
}
.helpItemSubCont h4{
  color: var(--text-color-secondary);

}
.desplegable h4{
font-size:22px !important;
text-align: center;
color: var(--text-color-primary);
}

.desplegable h5{
font-size:18px !important;
text-align: center;
padding: 15px 0;
color: var(--text-color-secondary);
}
.desplegable h6{
font-size:16px !important;
text-align: center;
padding: 10px 0;
color: var(--text-color-secondary);

}
.flyItems{
  padding: 20px 0;
}

.helpImg{
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 60px;
  
}

.cardsUs.helpItem:nth-child(1) .helpImg {
  background-image:  url( "https://media.despegar.com/media/pictures/4817079f-c46a-4842-a535-f97090f323fe");
    /*Contacto*/
}
.cardsUs.helpItem:nth-child(2) .helpImg {
  background-image: url("https://media.despegar.com/media/pictures/2c30fe75-184b-4cf0-9dc5-e8f20d85bb01");
    /*Cambios y cancelaciones*/
}
.cardsUs.helpItem:nth-child(3) .helpImg {
  background-image: url("https://media.despegar.com/media/pictures/085ff1d7-fb92-48ec-9580-6d77bd1fc14e");
    /*Equipaje, asientos y check-in*/
}
.cardsUs.helpItem:nth-child(4) .helpImg {
  background-image: url("https://media.despegar.com/media/pictures/31fa5353-0b75-4b72-be5b-590da4d4eec8");
    /*Mi reserva*/
}
.cardsUs.helpItem:nth-child(5) .helpImg {
  /*Mis viajes*/
  background-image: url("https://media.despegar.com/media/pictures/f4209450-8534-4117-b908-44a50afab43d");
}
.cardsUs.helpItem:nth-child(6) .helpImg {
  background-image: url("https://media.despegar.com/media/pictures/01b25775-13c5-4d04-8e84-7360440af544");
    /*Formas de pago, precios y beneficios*/
} 

.desplegable p{
margin-bottom: 40px;
}
.contCards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.contCards .cardsUs{
padding:35px
}
.contCards .cardsUs div:first-child{
  padding-bottom: 15px;
}
.contCards .cardsUs img{
width: 60px;
height: auto;
}
.botonContacto{
margin: 25px;
}

.cancelaciones{
  text-align: start;
}
.cancelaciones h4{
  text-align: center;
  padding-bottom: 15px;
}
.cancelaciones h5{
  font-size: large;
  padding-bottom: 15px;
}

.cancelaciones li{
  list-style:disc;

}
.disclaimer{
  font-size: 12px;
  padding: var(--space-items) 0 calc(var(--space-items)/2);
}
.ul-pagos{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 15px;
}
@media (max-width:768) {
  .usHero{
    height: 60vh;
    clip-path: none;
  }

  }
