.usHero{
    height: 150px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.usHeroImg{
    height: auto;      
    width: 100%;       
    position: absolute; 
    top: 40%;                 
    transform: translate(-50%,-50%); 
    object-fit: cover; 
  }
  .usHeroTittleDiv{
    position: absolute; 
    height: 100%;
    width: 100%;
    align-items: center;
    padding-top: 30px;
    color:white;
    text-shadow: 1px 1px 3px black;
  }
  .usHeroTittle{
    font-size: 30px;
  }



.attention {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.cards h2 {
    color:#f74008;
}

.cards p {
    color: #555;
}

/*SECTION CARDS DE CONSULTAS*/

.helepContainer{
    width: 100%;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

.helpItem{
        padding: 20px;
        margin: 1%;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;  
        cursor: pointer;
      }

.helpItemSubCont{
  width: 100%;
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: space-between;
}
.helpItemSubCont div{
  display: flex;
  flex-direction: row;  
  align-items: center;

}
.arrowRight{
font-size: 30px;
filter: invert(26%) sepia(99%) saturate(1693%) hue-rotate(356deg) brightness(105%) contrast(99%);
}
.rotated {
  transform: rotate(90deg);
}
.desplegable {
  display: none;
}

.helpImg{
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 60px;
  
}

.cards.helpItem:nth-child(1) .helpImg {
  background-image:  url( "https://media.despegar.com/media/pictures/4817079f-c46a-4842-a535-f97090f323fe");
    /*Contacto*/
}
.cards.helpItem:nth-child(2) .helpImg {
  background-image: url("https://media.despegar.com/media/pictures/2c30fe75-184b-4cf0-9dc5-e8f20d85bb01");
    /*Cambios y cancelaciones*/
}
.cards.helpItem:nth-child(3) .helpImg {
  background-image: url("https://media.despegar.com/media/pictures/085ff1d7-fb92-48ec-9580-6d77bd1fc14e");
    /*Equipaje, asientos y check-in*/
}
.cards.helpItem:nth-child(4) .helpImg {
  background-image: url("https://media.despegar.com/media/pictures/31fa5353-0b75-4b72-be5b-590da4d4eec8");
    /*Mi reserva*/
}
.cards.helpItem:nth-child(5) .helpImg {
  /*Mis viajes*/
  background-image: url("https://media.despegar.com/media/pictures/f4209450-8534-4117-b908-44a50afab43d");
}
.cards.helpItem:nth-child(6) .helpImg {
  background-image: url("https://media.despegar.com/media/pictures/01b25775-13c5-4d04-8e84-7360440af544");
    /*Formas de pago, precios y beneficios*/
}